<%- include('partials/_header.ejs') %>

  <h2>Login</h2>
  <p>Please, fill the following inputs and hit "submit" to login</p>

  <form method="post" action="/api/login">

    <label for="email">Email</label>
    <input type="email" name="email">
    <br />

    <label for="password">Password</label>
    <input type="password" name="password">
    <br />

    <input type="submit" value="Login">
  </form>
</body>
</html>